body{
    background-color:#DBEAF3;
}


#summon{
    display:block;
    margin:auto;
}

#note-summon{
    text-align: center;
    font-size: 50px;
    display:block;
    margin:auto;
}

div {
    
    text-align:center;
    
}


.pic{
    display:block;
    margin:auto;
}

#log-in-form{
    background-color: black;
    color: white;
    width:50%;
    margin:auto;
    
}

.shout3 {
    background-color:brown;
    background-origin: content-box;
    font-family: fantasy;
    color:cornsilk;
    width:800px;
    margin:auto;
}

.shout2 {
    background-color:floralwhite;
    font-family:fantasy;
    color:darkslateblue;
    width:800px;
    margin:auto;
}

.shout1 {
    background-color:black;
    font-family:fantasy;
    line-height:200%;
    color:azure;
    width:800px;
    margin:auto;

}

.note{
    background-color:firebrick;
    font-family: sans-serif;
    text-align: center;
    color:blanchedalmond;
    
    border: 3px solid black;
    border-radius:5px;
    padding: 13px 13px 13px 20px;
    width:800px;
    margin: auto;
  
}

a:hover{
    background: red;
    color:white
}