body{
    background-color:#DBEAF3;
}


.venom-call{
    border: 5px solid white;
    color:darkslateblue;
    font-size: 20px;
    display:block;
    margin:auto;
}

#note-summon{
    text-align: center;
    font-size: 50px;
    display:block;
    margin:auto;
}

div {
    
    text-align:center;
    
}


.pic{
    display:block;
    margin:auto;
}

#log-in-form{
    background-color: black;
    color: white;
    width:50%;
    margin:auto;
    
}

.shout3 {
    background-color:darkslateblue;
    background-origin: content-box;
    font-family: fantasy;
    text-align: center;
    color:cornsilk;
    
    width:100%;
    margin:auto;
}

.shout2 {
    background-color:#D57B75;
    font-family:fantasy;
    text-align: center;
    color:darkslateblue;
    width:100%;
    margin:auto;
}

.shout1 {
    background-color:darkslateblue;
    font-family:fantasy;
    text-align: center;
    line-height:200%;
    color:azure;
    width:100%;
    margin:auto;

}

.note{
    background-color:firebrick;
    font-family:cursive;
    font-size:25px;
    text-align: center;
    color:blanchedalmond;
    
    border: 3px solid #EBC4C4;
    border-radius:5px;
    padding: 13px 5px 13px 5px;
    width:790px;
    margin: auto;
  
}

a:hover{
    background: red;
    color:white
}